
    body{
        font-family:'Sansita' ;
    }

    input{
        padding: 4px 15px;
    }

    input:focus{
        font: 400 13.3333px Arial;
        padding: 4px 15px;
        outline: none;
    }
    .jet-header{
       margin-left: 0px;
       margin-right: 0px;
       text-align: center;
    }
    .form{
        display: inline-block;
        text-align: left;
    }
    .jet-form-box{
       margin-left: 0px;
       margin-right: 0px;
       text-align: center;
    }

    .jet-input-form{
        display: grid;
        margin: 10px 0px 10px 0px;
        padding: 10px 0px 10px 0px;
    }
    .jet-input-form span{
        margin-bottom: 5px;
    }

    .jet-input-form button {
        height: 40px;
        font-size: 18px;
        border-radius: 20px;
        font-family: 'Sansita';
    }
    .jet-mini-box {
        position: fixed;
        top: 170px;
        bottom: 100px;
        left: 0px;
        right: 0;
        overflow: auto;
    }

    .dis-fix-bot{
        position: fixed;
        bottom: 0px;
    }

        .jet-header-title{
            color :white;
        }
        .jet-color{
            color: white;
        }
        body{
            background: linear-gradient(75deg,rgb(64, 101, 140) 6%,#2954a7 100%);
        }
        .jet-input-form input {
            width: 300px;
        height: 40px;
        font-size: 18px;
        border-radius: 20px;
        text-align: center;
        border: solid 1px white;
        color: white;
        background: transparent;
        box-shadow: 0 14px 17px rgba(0,0,0,0.2);
    }
    ::placeholder {
      color: white;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color: white;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
     color: white;
    }
    button {
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 30px;
        font-size: 1.5rem;
        font-weight: 600;
        color: #2659b7;
    }
    .jet-input-form button {
        height: 40px;
        font-size: 18px;
        border-radius: 20px;
        font-family: 'Sansita';
        box-shadow: 0 4px 17px rgba(0,0,0,0.2);
    }
    .checkbox{
        height: auto !important;
        width: auto !important;
    }
    .jet-input-form span{
        color: white;
    }
    button:hover {
        background: rgba(153, 178, 225, 1);
        box-shadow: 0 4px 17px rgba(0,0,0,0.2);
        transform: translate3d(0, 1px, 0);
      }
    input:focus {
        box-shadow: inset 1px 3px 4px 2px rgba(0,0,0,0.2);
      }
    .jet-dis-fix-top{
    position: fixed;
    color: white;
    }
    .jet-cor-right{
        top: 100px;
        right: 100px;
        font-size: 30px;
        padding: 0px 5px 4px 5px;
        z-index: 99999;
    }
    .jet-cog-spin {
      animation-name: spin;
      animation-duration: 500ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    .jet-cog-spin-right {
      animation-name: spin-right;
      animation-duration: 500ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    @keyframes spin-right {
        from {

            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }

    @keyframes spin {
        from {
            transform:rotate(360deg);
        }
        to {
            transform:rotate(0deg);
        }
    }
    .jet-input-form a{
        color: white;
        text-decoration: none;
    }
    a:hover{
        color: rgba(153, 178, 225, 1);
    }
    .jet-modal{
        display: none;
        background: #efeff1;
        width: 290px;
        height: 450px;
        right: 140px;
        /* top: 90px; */
        position: fixed;
        box-shadow: 5px 13px 17px rgba(0,0,0,0.2);
        padding: 25px;
        border-radius: 20px;
    }
    .jet-sosmed{
        display: flex;
        padding: 10px 0px 20px 0px;
    }
    .jet-sosmed-content{
        color: white;
        padding: 10px;
        border-radius: 25px;
        margin-right: 5px;
        box-shadow: 5px 13px 17px rgba(0,0,0,0.2);
    }
    .jet-sosmed-content:hover{
        box-shadow: inset 5px 13px 17px rgba(0,0,0,0.2);
        cursor: pointer;
    }
    /* margin */
        .top-5{
            margin-top: 5px;
        }
        .top-10{
            margin-top: 10px;
        }
        .top-15{
            margin-top: 15px;
        }
        .left-30{
            margin-left: 30px !important;
        }
    /*  */

    /* color  */
    .jet-old-blue{
        color: #2a55a5;
    }
    .jet-bg-old-blue{
        background: #2a55a5;
    }
    .jet-bg-young-blue{
        background: #5584da;
    }
    .jet-bg-red{
        background: #ec6749;
    }
    /* color  */
    .jet-menu-tab{
        display: flex;
    }
    .jet-menu-tab-content{
        background: #ffffff;
        color: #2a55a5;
        padding: 15px;
        border-radius: 15px;
        margin: 10px;
        box-shadow: 5px 13px 17px rgba(0,0,0,0.2);
        margin-right: 0px;
        width: 100px;
    }
    .jet-menu-tab-content:hover{
        box-shadow: inset 5px 13px 17px rgba(0,0,0,0.2);
        cursor: pointer;
    }
    .jet-menu-tab-content i{
        border: solid 2px white;
        border-radius: 20px;
        padding: 5px;
        position: inherit;
        background: white;
        color: #2a55a5;
        margin-left: -35px;
    }
    .jet-menu-tab-content span{
        font-size: 14px;
    }
    .jet-sosmed a{
        text-decoration: none;
    }
    .jet-menu-tab a{
        text-decoration: none;
    }
    /* span a{
        color: unset;
        text-decoration: none;
    } */
    .tooltiptext {
        width: 90px;
        background-color: #efefef;
        color: #2d57a3;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 13%;
        left: -94%;
        margin-left: -60px;
    }
    .tooltiptext::after {
        content: "";
        position: absolute;
        width: 0px;
        right: 0;
        top: 51%;
        border: 7px solid transparent;
        border-right: 0;
        border-left: 14px solid #efefef;
        transform: translate(calc(79% + -1px), -53%);
    }

    .jet-cor-right span{
        font-size: 16px;
    }

    /* @media */

@media (max-width:320px){
    .jet-cor-right{
    top: 20px;
    right: 30px;
    font-size: 20px;
    padding: 0px 2px 2px 2px;
    }
    .jet-mini-box {
    position: unset;
    top: 7px;
    bottom: unset;
    left: unset;
    right: unset;
    overflow: unset;
    margin-top: 75px;
}
.jet-header-title{
    font-size: 20px;
}
.jet-input-form input{
    width: 220px;
    height: 25px;
    font-size: 15px;
}
.jet-modal {
    display: none;
    background: #efeff1;
    width: 240px;
    height: 377px;
    right: 14px;
    /* top: 90px; */
    position: fixed;
    box-shadow: 5px 13px 17px rgba(0,0,0,0.2);
    padding: 25px;
    border-radius: 20px;
}
.jet-sosmed-content span{
    font-size: 12px;
}
.jet-menu-tab-content {
    background: #ffffff;
    color: #2a55a5;
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
    box-shadow: 5px 13px 17px rgba(0,0,0,0.2);
    margin-right: 0px;
    width: 110px;
    margin-left: -10px;
}
.jet-menu-tab-content i {
    margin-left: -10px;
}
.jet-menu-tab-content span {
    font-size: 12px;
}
.left-30 {
    margin-left: 5px !important;
}
.jet-cor-right span {
    font-size: 12px;
}
.tooltiptext{
    bottom: 8%;
    left: -165%;
    left: -160%;
}
}
